html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    margin-right: 20px;
    font-weight: bold;
}


#map {
    margin-top: 20px;
}

.map {
    width: 75vw;
    height: 35vw;
    border: 1px solid #ccc;
    background-color: #fff;
}

#countryInfo {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.columns {
    display: flex;
    width: 75vw;
    margin-top: 20px;
    justify-content: center;
}

.corruptionCharts,
.happinessCharts {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20em;
}

.corruptionCharts svg,
.happinessCharts svg {
    width: 100%;
    height: 100%;
}

.bar {
    fill: blue;
}

.bar.selected {
    fill: red;
}

.dot {
    fill: blue;
}

.dot.selected {
    fill: red;
}

.legend rect {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.legend text {
    font-size: 14px;
    margin-right: 10px;
}

#corruptionBar, 
#happinessBar, 
#scatterPlot {
    width: 75vw;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
#scatterPlot{
    height: 32em;
}

/* Navigation Bar Styles */
nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

nav ul li a:active {
    background-color: #4CAF50;
}
